.button {
    font-family: 'Inter', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    text-align: center;
}

.button-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.button-bordered {
    background-color: transparent;
    color: #007bff;
    border: solid #007bff; 
}

.button-primary:hover {
    background-color: #0056b3;
}

.button-bordered:hover {
    background-color: #e8e8f0;
}


.primary-hover {
    background-color:#4d82bb
}

.primary-hover:hover {
  background-color:#91adca
}

.button-lg {
    padding: 12px 24px;
    font-size: 18px;
}

.button-md {
    padding: 8px 16px;
    font-size: 16px;
}

.button-sm {
    padding: 4px 8px;
    font-size: 14px;
}
